body {
  font-size: small;
  padding-top: 41px;
}
h6 {
  display: inline-block;
}
.template {
  display: none;
}
.btn-default {
  color: #3c763d;
}
.navbar {
  min-height: 40px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-nav {
  margin: 0;
}
.nav > li {
  float: left;
  display: inline-block;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
#header-initial {
  float: right!important;
}
.navbar-btn,
#header .btn {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 0;
}
.group.panel {
  border-color: #449d44;
}
.group-heading.panel-heading {
  padding: 5px 15px;
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.works.panel.panel-info {
  margin-bottom: 5px;
}
.works.panel {
  margin-bottom: 10px;
}
.work-heading.panel-heading {
  padding: 5px 5px;
}
.work-heading > .btn-group {
  display: inline;
}
.work-heading > .btn-group .work-review {
  margin-left: 5px;
}
.episode-body.panel-body {
  padding: 5px 15px;
}
.episode-record[disabled] {
  cursor: pointer;
}
.work-link,
.episode-link {
  margin-left: 5px;
}
body a,
body a:focus, body a:hover {
  color: #3c763d;
}
#result-works .work-heading:nth-child(even) {
    background-color: #fff;
}
.rating label {
  margin-right: 3px;
}
